@charset "utf-8";
@font-face {
	font-family: Quicksand;
	src: url('Quicksand-Regular.woff') format('woff'),
	     url('Quicksand-Regular.ttf') format('truetype');
}

/*
   Project 1-3
   
   Author: Jose Martinez
   Date:   7/5/26
   
   Filename: about_me_styles.css

*/


/* HTML and Body Styles */

html {
	background-color: rgb(60, 179, 113);
}

body {
	color: rgb(0, 100, 0);
	background-color: ivory;
	font-family: 'Times New Roman', Times, sans-serif;
}


/* Heading Styles */

h1, h2 {
	color: rgb(0, 100, 0);
	background-color: rgb(173,216,230);
	font-size: 1.5em;
	font-family: 'Times New Roman', Times, sans-serif;
	letter-spacing: 0.1em;
	text-align: center;
}


/* Navigation Styles */	

nav {
	font-size: 1em;
}

nav > ul {
	line-height: 1.5em;
}

/* Footer Styles */

footer {
	background-color: rgb(173,216,230);
	color: white; 
	color: rgba(0, 0, 0);
	font: normal bold 0.9em/3em;
	font-family: 'Times New Roman', Times, sans-serif;
	text-align: center;
}
